.navbar{
                list-style: none;
                overflow: hidden;
                padding: 0;
                width: 100%;
                background-image:-webkit-linear-gradient(blue, purple, black);
                background-image:-moz-linear-gradient(blue, purple, black);
                background-image:-o-linear-gradient(blue, purple, black);
                background-image:linear-gradient(blue, purple, black);
        }

            .navbar a, .dropdown div{
                text-decoration: none;
                color: white;
                font-size:24px;
                padding: 16px;
                display: inline-block;
            }
            .navbar li{
                float: left;
            }
            .navbar li:hover{
                  background-image:-webkit-linear-gradient(#eb8d09,#e0351b);
            background-image:-moz-linear-gradient(#eb8d09,#e0351b);
            background-image:-o-linear-gradient(#eb8d09,#e0351b);
            background-image:linear-gradient(#eb8d09,#e0351b);
            }
            .dropdown-content{
                list-style: none;
                padding: 0;
                display: none;
                position: absolute;
                z-index: 1;
                background-image:-webkit-linear-gradient(blue, purple, black);
                background-image:-moz-linear-gradient(blue, purple, black);
                background-image:-o-linear-gradient(blue, purple,black);
                background-image:linear-gradient(blue, purple, black);
            }
            .dropdown-content li{
                float:none;
            }
            .dropdown:hover .dropdown-content{
                display: block;

            }
            .active{
                 background-image:-webkit-linear-gradient(#eb8d09,#e0351b);
            background-image:-moz-linear-gradient(#eb8d09,#e0351b);
            background-image:-o-linear-gradient(#eb8d09,#e0351b));
            background-image:linear-gradient(#eb8d09,#e0351b));
            }
            .cool {
             font-family:"Comic-Sans MS,", cursive, sans-serif;
            font-style: italic;
            width:100%;
            margin: 0 auto;
            text-align: left;
            color:#313131;
            font-size:45px;
            font-weight: bold;
            position: absolute;
            -webkit-animation:colorchange 35s infinite alternate;
         }
             @-webkit-keyframes colorchange {
      0% {
        color: rgb(60, 235, 60);
      }
      10% {
        color: yellow;
      }
      20% {
        color: yellow;
      }
      30% {
        color: orange;
      }
      40% {
        color: orange;
      }
      50% {
        color: red;
      }
      60% {
        color: red;
      }
      70% {
        color: pink;
      }
      80% {
        color: aqua;
      }
      90% {
        color: aqua;
      }
      100% {
        color: rgb(47, 184, 47);
      }
      .image {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
      }