.navbar{
                list-style: none;
                overflow: hidden;
                padding: 0;
                width: 100%;
                background-color: #2b2b2b;
        }

            .navbar a, .dropdown div{
                text-decoration: none;
                color: white;
                font-size:24px;
                padding: 16px;
                display: inline-block;
            }
            .navbar li{
                float: left;
            }
            .navbar li:hover{
                  background-image:-webkit-linear-gradient(#eb8d09,#e0351b);
            background-image:-moz-linear-gradient(#eb8d09,#e0351b);
            background-image:-o-linear-gradient(#eb8d09,#e0351b);
            background-image:linear-gradient(#eb8d09,#e0351b);
            }
            .dropdown-content{
                list-style: none;
                padding: 0;
                display: none;
                position: absolute;
                z-index: 1;
                background-color: #2b2b2b;
            }
            .dropdown-content li{
                float:none;
            }
            .dropdown:hover .dropdown-content{
                display: block;

            }
            .active{
                 background-image:-webkit-linear-gradient(#eb8d09,#e0351b);
            background-image:-moz-linear-gradient(#eb8d09,#e0351b);
            background-image:-o-linear-gradient(#eb8d09,#e0351b));
            background-image:linear-gradient(#eb8d09,#e0351b));
            font-family:"Comic-Sans MS,", cursive, sans-serif;
            }
            .li{
                 font-family:"Comic-Sans MS,", cursive, sans-serif;
            }
            .cool {
             font-family:"Comic-Sans MS,", cursive, sans-serif;
            font-style: italic;
            width:100%;
            margin: 0 auto;
            text-align: left;
            color:white;
            font-size:45px;
            font-weight: bold;
            position: absolute;
            }
            .sans {
                font-family:"Comic-Sans MS,", cursive, sans-serif;
            }
            .headers {
                text-decoration: underline;
                font-weight: bold;
                font-family:"Comic-Sans MS,", cursive, sans-serif;
                font-size: 18px;
                color: white;
            }
            .body {
              background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6ei56HYWQ2Fc84nmbhDW4Qaj4NxrLbnEo1vFj6TJblVsL-bdrnA");
              background-size: cover;
              background-repeat: no-repeat;
            }
            .back {
                color: white;
                font-family:"Comic-Sans MS,", cursive, sans-serif;
            }
            .text {
                color: white;
            }
            table, th, td {
                 border: 1px solid black;
            }
            .paragraph {
            font-family:"Comic-Sans MS,", cursive, sans-serif;
            font-style: italic;
            width:100%;
            margin: 0 auto;
            text-align: left;
            color: white;
            font-size:12px;
            font-weight: bold;
            position: absolute;