.navbar{
                list-style: none;
                overflow: hidden;
                padding: 0;
                width: 100%;
                background-image:-webkit-linear-gradient(#c465f7, blue);
                background-image:-moz-linear-gradient(#c465f7, blue);
                background-image:-o-linear-gradient(#c465f7, blue);
                background-image:linear-gradient(#c465f7, blue);
        }

            .navbar a, .dropdown div{
                text-decoration: none;
                color: white;
                font-size:24px;
                padding: 16px;
                display: inline-block;
            }
            .navbar li{
                float: left;
            }
            .navbar li:hover{
                  background-image:-webkit-linear-gradient(#eb8d09,#e0351b);
            background-image:-moz-linear-gradient(#eb8d09,#e0351b);
            background-image:-o-linear-gradient(#eb8d09,#e0351b);
            background-image:linear-gradient(#eb8d09,#e0351b);
            }
            .dropdown-content{
                list-style: none;
                padding: 0;
                display: none;
                position: absolute;
                z-index: 1;
                background-image:-webkit-linear-gradient(#c465f7, blue);
                background-image:-moz-linear-gradient(#c465f7, blue);
                background-image:-o-linear-gradient(#c465f7, blue);
                background-image:linear-gradient(#c465f7, blue);
            }
            .dropdown-content li{
                float:none;
            }
            .dropdown:hover .dropdown-content{
                display: block;

            }
            .active{
                 background-image:-webkit-linear-gradient(#eb8d09,#e0351b);
            background-image:-moz-linear-gradient(#eb8d09,#e0351b);
            background-image:-o-linear-gradient(#eb8d09,#e0351b));
            background-image:linear-gradient(#eb8d09,#e0351b));
            font-family:"Comic-Sans MS,", cursive, sans-serif;
            }
            .li{
                 font-family:"Comic-Sans MS,", cursive, sans-serif;
            }
            .cool {
             font-family:"Comic-Sans MS,", cursive, sans-serif;
            font-style: italic;
            width:100%;
            margin: 0 auto;
            text-align: left;
            color: #03fc56;
            font-size:45px;
            font-weight: bold;
            position: absolute;
            }
            .sans {
                font-family:"Comic-Sans MS,", cursive, sans-serif;
            }